### Pandas Tutorial

#### What is pandas?
Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

Most data will be processed with the help of `DataFrames`.

List of milestones:

- Key properties of a `Dataframe`
- Read CSV into `Dataframe`
- Read Database into `Dataframe`

#### Datasets Required
1.annual-motor-vehicle-population-by-vehicle-type.csv

All datasets are downloaded from data.gov.sg

#### Step 1. Imports

In [1]:
#Import pandas as pd

### Instantiating a Dataframe

You can create a dataframe data from a CSV file.

### For this tutorial, the dataframe used will be from this CSV file.

Use pd.read_csv() to read CSV data into a Dataframe.
csv file name = 'annual-motor-vehicle-population-by-vehicle-type.csv'

Documentation can be seen [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv).

CSV Source can be accessed [here](https://data.gov.sg/dataset/annual-motor-vehicle-population-by-vehicle-type?view_id=6aca1157-ea79-4e39-9e58-3e5313a9a715&resource_id=dec53407-9f97-47b8-ba89-b2070569a09e)

In [2]:
#To read from CSV file

dataframe = pd.read_csv('insert csv file name here')

NameError: name 'pd' is not defined

### Do note that it is also possible to create a dataframe from a database.

##### The example shown here is to create a dataframe from MSSQL.
The code will not run here since there is no separate config file.

In [ ]:
#To read from Database
#Code does not run here. For future reference

#Example to query SQL
#######IN SEPARATE YAML FILE############
#SQL_CONFIG:
#  server_name: FSWSQL165\FSMSSPROD165
#  user_name: mssqlf10n
#  password_field: TWljcm9uMTIz
#  database_name: F10DS_SOLUTION
#  port_field: 1433
#  table_name: dbo.Test_Kaiqin

import pymssql

sql_config = config.get('SQL_CONFIG')

    server_name = sql_config.get('server_name')
    user_name = sql_config.get('user_name')
    password_field = base64.b64decode(sql_config['password_field']).decode('utf-8')
    database_name = sql_config.get('database_name')
    port_field = sql_config.get('port_field')

    try:
        conn = pymssql.connect(server=server_name, user=user_name, password=password_field,
                               database=database_name, port=port_field)
    except Exception:
        raise ValueError("MSSQL Connection Failed")

SQL_Query = pd.read_sql_query(
'''select
* from dbo.Test_Kaiqin''', conn)

dataframe = pd.DataFrame(SQL_Query, columns=['Column_name_1','Column_name_2','Column_name_3','Column_name_4'])
print (dataframe)

The commands below prints out the <b>basic details</b> of the dataframe.

- dataframe.dtypes (Column types)
- dataframe.columns (available columns)
- dataframe.shape (number of rows and columns)

In [ ]:
#to check column types



#to check columns with columns



#to check number of rows and columns

The commands below prints out <b>data inside</b> the dataframe.

- dataframe.head() (Prints out the first 5 data by default)

Try dataframe.head(*integer*)

- dataframe.sample() (Prints out a random sampled row in the dataframe)

In [ ]:
#try .head()

In [ ]:
#try .sample()

### Retrieving data from a dataframe for data processing

#### Retrieving columns:
A column retrieved and stored as a variable is of type <b> series</b>.

Extract the column with dataframe["Column_Name"]

In [ ]:
#Extract the "year" column and store it into series

Similar to a dataframe, .sample() and .head() can be used to extract information

In [ ]:
#Try .sample() and .head() on series

##### Retrieve a specific record from the dataframe

Retrieve a specific record from the dataframe with dataframe.iloc[]
.iloc uses zero indexing

In [ ]:
#Get the details of row index 2. Check if it has a year 2007. Name your variable row_2

##### Complete the following code to get the number, category and type of vehicle based on the series in index 2, selected in the previous box.

Use the column indexing method to retrieve data in a specific column. Eg. row_2['Column_name']

In [ ]:
veh_num = 0
veh_type = ''
veh_cat = ''
veh_year = 0
###############

veh_cat = 
veh_type = 
veh_num = 
veh_year = 

print('In ' + str(veh_year) + ', there are ' + str(veh_num) + ' ' + str(veh_type) + ' in Singapore')
print(str(veh_type) + ' belong to the ' + str(veh_cat) + ' category.')

### Filtering records

#### You can perform filters to the dataframe to get a set of data that you want.

Use the following code structure to do so.

```python
dataframe[dataframe['column'] <conditional operator> <value>]
```

----------------------------------

Before filtering, it is `good practice` to perform a copy of the dataframe first, so modifications done while filtering do not affect the original dataframe.

Do so with dataframe.copy()

##### After which, identify the records whose number of vehicles are above 100_000

Insert the condition by creating a condition variable:
- condition = dataframe2['Column_name'] > Integer

Apply the condition:
- dataframe2[condition]

Another method to filter will be to define the condition directly in the dataframe.
- dataframe2[dataframe2['Column_name'] > Integer]

In [ ]:
#Before filtering, it is good practice to perform a copy of the dataframe first, so modifications done
#while filtering do not affect the original dataframe.

#Copy the dataframe with .copy():

#Set the condition

#Print filtered dataframe

##### Besides integers, you can use string comparators.

dataframe2['type'] == 'Motorcycles and Scooters'

##### To include more than 1 string or 1 integer, you can use the .isin() function. The values inside isin() should be in a List format.

Example: 
- condition = dataframe2['year'].isin([2007,2008])

#### Filtering with boolean operators

##### Filtering can also be done with boolean operators, AND and OR.
###### For AND, use &
###### For OR, use |

Example:
- condition = dataframe2['year'] == 2006
- condition2 = dataframe2['type'] == 'Buses'
- dataframe2[condition & condition2]

Run the example code below.

#### Practice: Find the number of Off Peak Cars in 2007

    year               category           type  number
42  2007  Cars & Station-wagons  Off peak cars   33983