### Pandas Tutorial

#### What is pandas?
Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

Most data will be processed with the help of `DataFrames`.

List of milestones:

- Key properties of a `Dataframe`
- Read CSV into `Dataframe`
- Read Database into `Dataframe`

#### Datasets Required
1.

All datasets are downloaded from data.gov.sg

#### Step 1. Imports

In [3]:
#Import pandas and numpy

import pandas as pd
import numpy as np

### Instantiating a Dataframe

You can create a dataframe data from a CSV file.

Use pd.read_csv() to read CSV data into a Dataframe.

Documentation can be seen [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv).

CSV Source can be accessed [here](https://data.gov.sg/dataset/annual-motor-vehicle-population-by-vehicle-type?view_id=6aca1157-ea79-4e39-9e58-3e5313a9a715&resource_id=dec53407-9f97-47b8-ba89-b2070569a09e)

In [4]:
#To read from CSV file

dataframe = pd.read_csv('annual-motor-vehicle-population-by-vehicle-type.csv')

The commands below prints out the <b>basic details</b> of the dataframe.

- dataframe.dtypes (Column types)
- dataframe.columns (available columns)
- dataframe.shape (number of rows and columns)

In [6]:
#to check column types
print(dataframe.dtypes)

print('-----------------')

#to check columns with columns
print(dataframe.columns)

print('-----------------')

#to check number of rows and columns
print(dataframe.shape)

year         int64
category    object
type        object
number       int64
dtype: object
-----------------
Index(['year', 'category', 'type', 'number'], dtype='object')
-----------------
(260, 4)

The commands below prints out <b>data inside</b> the dataframe.

- dataframe.head() (Prints out the first 5 data by default)

Try dataframe.head(*integer*)

- dataframe.sample() (Prints out a random sampled row in the dataframe)

In [7]:
#try .head()

dataframe.head()

   year               category          type  number
0  2005  Cars & Station-wagons  Private cars  401638
1  2006  Cars & Station-wagons  Private cars  421904
2  2007  Cars & Station-wagons  Private cars  451745
3  2008  Cars & Station-wagons  Private cars  476634
4  2009  Cars & Station-wagons  Private cars  497116

In [8]:
#try .sample()

dataframe.sample()

     year                category                               type  number
104  2009  Goods & Other Vehicles  Very Heavy Goods Vehicles (VHGVs)   12962

### Retrieving data from a dataframe for data processing

#### Retrieving columns:
A column retrieved and stored as a variable is of type <b> series</b>.