### Numpy

#### NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

#### Please complete Pandas Tutorial before starting on Numpy.

Datasets Required:
1. exchange-rates-sgd-per-unit-of-usd-daily.csv
2. graduates-from-university-first-degree-courses-by-type-of-course.csv

#### Import pandas and numpy

#### Import CSV file into a dataframe

### Quartiles

#### The first, second and third quartiles of a series, are the 25 percentile, 50 percentile and 75 percentile respectively.

Use np.percentile(SERIES, `x`) to get the `x`th percentile of the distribution.

Find the 25th. 50th and 75th percentile of the exchange_rate_usd.

### Interquartile Range

Interquartile range is defined as `third quartile - first quartile`.

This can be used to determine outliers, which are values that lie outside `[ (1st_quartile - 1.5 * IQR) , (3rd_quartile + 1.5 * IQR) ]`

Find the interquartile range of exchange_rate_usd.

Find the lower and upper bound of the exchange_rate_usd for determining outliers. [ lower bound, upper bound ]

Find all days which are outliers.

Hint* Set conditions to identify outliers, and apply the conditions to the dataframe. You should have no outliers. Why?

### np.int() np.float() np.sum()

#### These functions can be used to convert datatypes in a dataframe.

First of all, read graduates-from-university-first-degree-courses-by-type-of-course.csv into a dataframe called df3

#### Attempt to change the no_of_graduates column to 'float' type. Note that there will be a value error as there are cells with 'na'

Run the code with .apply(np.float)

#### To fix this, use the .replace() function in Pandas to replace 'na' values with '0'. This can also be used with 'Nil Return' (NULL) values.

Steps:
1. Make a copy of the df3 to df_new
2. See that df_new has 'na' as one of the values with .unique()
3. .replace takes in 2 parameters ('source', 'target')
4. Replace 'source' with 'target' from `no_of_graduates`, in our case, 'na' with '0'. 
5. Check that df_new no longer has 'na' with .unique()
6. Change the type to float.

#### Convert it back to int with np.int()

#### Use np.sum() to sum values in an array. In this case, let's find out the total number of university graduates in Singapore from 1993 to 2014.

##### First, replace 'na' with '0' (done above), create a series for no_of_graduates, then use np.sum(series)